<div style="text-align: center">
    <img src="{{MEDIA}}title.png" style="max-height: 350px">
</div>
<p>
    你会得到一个文本，其中包含不同的英文字母和标点符号。
    你应该找出文本中出现频率最高的字母。返回的字母必须是小写字母。<br>
    在检查最想要的字母时，大小写并不重要，所以为了你的搜索目的、
    "A" == "a"。
    确保你不计算标点符号、数字和空白处，只计算字母。
</p>
<p>
    如果你有<strong>两个或多个频率相同的字母</strong>、
    那么返回在拉丁字母表中排在第一位的字母。
    例如 -- "one "包含 "o"、"n"、"e "各一次，因此我们选择 "e"。
</p>


<p>
   <strong>输入：</strong>一个用于分析的字符串的文本 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>小写字母中出现频率最高的字母为一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>它是如何使用的：</strong>
    对于大多数解密任务，你需要知道一段文本中各种字母出现的频率。
    例如：如果我们知道字母出现的频率，我们就可以很容易地破解一个简单的加法或替换密码。
    这对语言专家来说是很有趣的东西!
</p>


<p><strong>前提条件</strong>：<br>
    一个文本只包含ASCII符号。<br>
    0 &lt; len(text) &le;<sup>105</sup>
</p>

<!--
<p class="for_info_only">
    <strong>How to use TryIt: </strong><br>
    <iframe width="560" height="315" src="//www.youtube.com/embed/yJUA5qN898E" frameborder="0" allowfullscreen></iframe>
</p>
-->
