<div style="text-align: center">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</div>
<p>
    Otrzymują Państwo tekst zawierający różne angielskie litery i znaki interpunkcyjne.
    Proszę znaleźć najczęściej występującą literę w tekście. Zwrócona litera musi być mała.<br>
    Podczas sprawdzania najbardziej poszukiwanej litery, wielkość liter nie ma znaczenia, więc dla celów wyszukiwania,
    "A" == "a".
    Proszę upewnić się, że nie są liczone symbole interpunkcyjne, cyfry i białe znaki, a jedynie litery.
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}most-common-letter.png" alt="example" style="max-height: 300px"/>
</p>
<p>
    Jeśli mają Państwo <strong>dwie lub więcej liter o tej samej częstotliwości</strong>,
    proszę zwrócić literę, która jest pierwsza w alfabecie łacińskim.
    Na przykład - "one" zawiera litery "o", "n", "e" tylko raz dla każdej z nich, dlatego wybieramy "e".
</p>


<p>
   <strong>Dane wejściowe:</strong> Tekst do analizy jako ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Dane wyjściowe:</strong> Najczęściej występująca mała litera jako ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Jak jest używany:</strong>
    Do większości zadań deszyfrowania potrzebna jest znajomość częstotliwości występowania różnych liter we fragmencie tekstu.
    Na przykład: możemy łatwo złamać prosty szyfr dodawania lub podstawiania, jeśli znamy częstotliwość występowania liter.
    To interesujące informacje dla ekspertów językowych!
</p>


<p><strong>Warunek wstępny</strong>:<br>
    Tekst zawiera tylko symbole ASCII.<br>
    0 &lt; len(text) &le;<sup>105</sup>
</p>

<!--
<p class="for_info_only">
    <strong>How to use TryIt: </strong><br>
    <iframe width="560" height="315" src="//www.youtube.com/embed/yJUA5qN898E" frameborder="0" allowfullscreen></iframe>
</p>
-->
